<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="/css/yoga.css" rel="stylesheet" type="text/css" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat:400,700&subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/8aa3996d92.js" crossorigin="anonymous"></script>
        <title>Yoga</title>
    </head>
    <body>
        <header>
            <img id="image" src="/imgs/176-1768718_this-free-icons-png-design-of-female-yoga.png" width="40";height="25%">
            <nav>
                <a class="menu-items" href="/">Demo Page</a>
                <a class="menu-items" href="/">Watch Video</a>
                <a class="menu-items" href="/">Blocks</a>
                <button id="button-buy">JOIN NOW</button>
            </nav>
        </header>

        <main>
            <div class="container">
                <img id="background-image" src="/imgs/yoga-4k-widescreen-desktop-wallpaper-946-966-hd-wallpapers.jpg">
                <div class="text">SANYAM YOG CLASSES</div>
                <div class="description">Your body exist in the past and your mind exist in the future. In yoga, they come together in present !</div>
            </div>
            <div class="colors">
                <div id="div1" class="items">
                <i class="fa fa-cut" id="icons"></i><br>
                <h3 id="headingg">Step1.</h3>
                <p id="paragraph">
                    Warm-up exercises before yoga enhance blood flow into the muscles. It helps muscles to fulfill the need at the physical level before proceeding into the yoga practice.
                </p>
                </div>
                <div id="div2" class="items">
                <i class="fa fa-paint-brush" id="icons"></i><br>
                <h3 id="headingg">Step2.</h3>
                <p id="paragraph">
                    As we begin to move our body parts in a certain direction, the muscular movements direct blood to deliver ample oxygen to the brain. It makes the practitioner more attentive and focused during the Yoga practice.
                </p>
                </div>
                <div id="div3" class="items">
                <i class="fa fa-shopping-bag" id="icons"></i><br>
                <h3 id="headingg">Step3.</h3>
                <p id="paragraph">
                    Warm-up yoga stretches raises the blood circulation and makes the muscle contract and relax frequently as long as the practitioner warms up. This makes muscles follow the movements more softly.
                </p>
                </div>
                <div id="div4" class="items">
                <i class="far fa-smile" id="icons"></i><br>
                <h3 id="headingg">Step4.</h3>
                <p id="paragraph">
                    It is essential to achieve decent flexibility before jumping into the yoga asanas practice. So, warming up yoga helps in allowing some room to extends body movements.
                </p>
                </div>
            </div>
            <section class="yoga-section">
                <p class="text1">Yoga centre</p>
                <h3 class="heading1">Our yoga class!</h3>
                <p class="descp1">Yoga class description which contains info abt it</p>
                <div id="small-icons">
                    <div class="yoga-store-item">
                        <div class="icon-wrapper"><i class="fa fa-camera"></i></div><br>
                        <h3 class="subheading2">1st subheading</h3>
                        <p class="parah2">
                            1st parah 1st parah 1st parah 1st parah 1st parah 1st parah 
                        </p>
                    </div>
                    <div class="yoga-store-item">
                        <div class="icon-wrapper"><i class="fa-rocket fa"></i></div><br>
                        <h3 class="subheading2">2nd subheading</h3>
                        <p class="parah2">
                            2nd parah 2nd parah 2nd parah 2nd parah 2nd parah 2nd parah
                        </p>
                    </div>
                    <div class="yoga-store-item">
                        <div class="icon-wrapper"><i class="fab fa-twitter"></i></div><br>
                        <h3 class="subheading2">3rd subheading</h3>
                        <p class="parah2">
                            3rd parah 3rd parah 3rd parah 3rd parah 3rd parah 3rd parah
                        </p>
                    </div>
                    <div class="yoga-store-item">
                        <div class="icon-wrapper"><i class="fab fa-weixin"></i></div><br>
                        <h3 class="subheading2">4th subheading</h3>
                        <p class="parah2">
                            4th parah 4th parah 4th parah 4th parah 4th parah 4th parah
                        </p>
                    </div>
                </div>
            </section>
            <section class="testimonial">
                <p class="text-2">Yoga centre</p>
                <h3 class="main-2">Our Yoga Class</h3>
                <p class="descp-2">something something something something something</p>
                <div id="testimonial-wrapper">
                    <div class="testimonial-item">
                        <img src="/imgs/WhatsApp Image 2021-08-12 at 1.56.36 PM.jpeg">
                        <p class="testimonial-message">aaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                        <p class="testimonial-by">ABCD</p>
                        <p class="job-role">manager</p>
                    </div>
                    <div class="testimonial-item">
                        <img src="/imgs/WhatsApp Image 2021-08-12 at 2.14.18 PM.jpeg">
                        <p class="testimonial-message">bbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
                        <p class="testimonial-by">EFGH</p>
                        <p class="job-role">sub-manager</p>
                    </div>
                </div>
            </section>
            <section id="address-section">
                <div id="address-wrapper">
                    <div>
                        <p class="green-heading">Contact Us</p>
                        <h3 class="section-heading">Address Information</h3>
                        <p class="section-description">yoga yoga yoga yoga tyoga yoga</p>

                        <h4 class="address-heading">Online classes</h4>
                        <p class="address-lines">
                            Roeterseiland Campus Building E<br>6th floor London<br>Monday to Friday : 9am to 8pm<br>examplemail.mail.com</p>

                        <h4 class="address-heading">Yoga centre</h4>
                        <p class="address-lines">
                            Roeterseiland Campus Building E<br>6th floor London<br>Monday to Friday : 9am to 8pm<br>examplemail.mail.com</p>
                    </div>
                    <div>
                        <p class="green-heading">Meet Our Team</p>
                        <h3 class="section-heading">Get In Touch</h3>
                        <p class="section-description">something related to yoga yoga yoga</p>

                        <form action="/" method="POST">
                            <input class="input-box" type="text" name="yoga[name]" placeholder="Name" required />
                            <input class="input-box" type="text" name="yoga[phone]" placeholder="Phone" required />
                            <input class="input-box" type="text" name="yoga[subject]" placeholder="Subject" required />
                            <input class="input-box" type="email" name="yoga[email]" placeholder="E-mail" required />
                            <textarea class="input-box" name="yoga[message]" placeholder="Message" required></textarea>
                            <input id="btn-submit" class="primary-button" type="submit" value="Submit Now" >
                        </form>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            © Copyright 2018 Mobirise - All Rights Reserved
        </footer>
    </body>
</html>

